---
twitter:
    consumer_key: ""
    consumer_secret: ""
    oauth_token: ""
    oauth_token_secret: ""

    tweet_prefix: "ciao!"

    tweets:
        - "Tu sei un giocattolo! Non puoi volare!"
        - "Tu sei solo un giocattolo! Tu non sei il vero Buzz Lightyear, tu sei un pupazzo meccanico! Tu sei solo un balocco per bambini!"
        - "Sappi che noi giocattoli... vediamo tutto! E perciò riga dritto!"
        - "Se ne accorgeranno, sono io il giocattolo preferito da Andy!"
        - "Un momento! Ho appena acceso un razzo... i razzi esplodono!"
        - "Ti metto in prigione, Bud! Saluta tua moglie e i tuoi patatini!"
        - "Ma sì, va' al diavolo, lunatico!"
        - "È più sicuro nell'abitacolo, dice. Che idiota!"
        - "Moriremo di certo... Io me ne vado!"
        - "Dobbiamo salvarlo e... mi serve il vostro aiuto! Ti prego! È un mio amico. Ed è l'unico che mi è rimasto."
        - "Caricate la rana!"
        - "Il più è positivo, il meno è negativo! Oh, lasciate fare a me!"
        - "Mani in altooo!"
        - "Sono qui per arrestarti, Bart il guercio!"
        - "Verrai con me senza fare storie!"
        - "Ed io ho portato il mio dinosauro, che mangia cani con scudo galattico!"
        - "Ti metto in prigione, Bart! Saluta tua moglie e i tuoi patatini"
        - "Uhm, prenderla come? Non capisco... di che parli? Chi?"
        - "Beh, evidentemente preferisce che la festa si faccia prima del trasloco. Non capisco la vostra preoccupazione!"
        - "Niente! Niente, sono sicuro che Andy è soltanto un po' distratto, tutto qui. Troppi dolci e gelati, immagino. Un gesto maldestro!"
        - "Sembra che non abbiano mai visto un giocattolo nuovo!"
        - "Quello non è un laser, mmm, è una semplice lampadina!"
        - "Basta, diamoci un taglio! E va bene, siamo tutti... molto colpiti dal nuovo giocattolo di Andy."
        - "Gio-cat-to-lo, esatto!"
        - "La parola che sto cercando, non la posso dire, perché ci sono dei giocattoli minorenni!"
        - "Lui non è uno Space Ranger! Non combatte i cattivi, non spara laser, e tantomeno vola!"
        - "Una cosa?! Cosa?! Sono ali di plastica, non può volare!"
        - "No, non puoi."
        - "Non puoi."
        - "Non puoi, non puoi, non puoi!"
        - "D'accordo, signor fanfarone. Dimostralo!"
        - "Chi mi ha preso il cappello?!"
        - "Ah ah. Ah ah ah ah. Dammelo!"
        - "Senti un po', scemo spaziale, devi stare lontano da Andy! È mio, e nessuno riuscirà a portarmelo via, mi hai capito?"
        - "E c'è un'altra cosa! Smettila con tutte queste storie di missioni spaziali! Mi stai facendo innervosire!"
        - "Okay, woohooo, allora preferisci le maniere forti, eh?!"
        - "Ah, sì, Mister Galassia?!"
        - "Come sarebbe? Tu credi veramente di essere Buzz Lightyear? Ah ah ah! Ma io credevo che tu stessi facendo la scena!"
        - "Ehi, ragazzi, guardate! Vi presento il VERO Buzz Lightyear!"
        - "Oh no, no. No, no, no, no, no. Buzz, guarda, un alieno!"
        - "Ah ah ah ah ah ah ah ah ah ah ah ah ah!"
        - "Oh, certo! Polverizzalo... col tuo micidiale laser!"
        - "Buzz?! Buzz! Hah! Sei vivo! Fantastico! Oh, sono salvo, sono salvo!"
        - "Andy ti troverà qui ci riporterà tutti e due in camera sua e tu potrai dire agli altri che tutta questa storia non è che un grosso malinteso"
        - "Oh! È molto bello."
        - "No."
        - "Chiudi il becco! Sta' zitto! Brutto idiota!"
        - "È il momento ideale per il panico! Mi sono perduto, Andy è andato via, fra due giorni c'è il trasloco, ed è tutta colpa tua!"
        - "Ma come, se tu non fossi arrivato con la tua stupida astronave di cartone a rubarmi tutte le cose più importanti per me!"
        - "Buzz! Ehi, Buzz, torna indietro!"
        - "Di qua! Ho visto un'astronave bellissima!"
        - "Iperturbo, megaturbo, e astro... uh... logica!"
        - "È lì, non la vedi? Preparati... attento... pronto, Buzz? Al mio via saltiamo nel cestello! Buzz! Oh! No! Ma succedono tutte a me?!"
        - "Uno più scemo dell'altro!"
        - "Aaah!"
        - "Bravo, perfetto! Così li facciamo secchi con la luce della lampadina!"
        - "La porta! È aperta, siamo liberi!"
        - "Io lo so cosa ci aspe... Aaaah! Ci mangeranno vivi, Buzz! Fa' qualcosa!"
        - 'Smettila idiota, sei un giocattolo! Usa il programma "Mosse di Karate"!'
        - "Indietro, selvaggi! Via!"
        - "Peccato ragazzi, la cena è rinviata!"
        - "Credo che tu abbia bevuto abbastanza té per oggi. Vieni, andiamo via di qui, Buzz."
        - "Falla finita! Basta! [Lo colpisce con il suo braccio staccato]"
        - "No no! No no no no no! Tu hai... hai frainteso, Mr. Potato! Sta benone, Buzz! È proprio qui vicino a me!"
        - "Ma no, non è vero! Buzz, vieni qui! Vieni a dire ai nostri amici giocattoli che non sei affatto morto!"
        - "Solo un secondo! Ti decidi a venire e a darmi una mano?!... Ah ah ah ah ah ah ah ah. Molto spiritoso. È una faccenda seria!"
        - "Mani in alto!"
        - "In questa città non c'è spazio per tutti e due!"
        - "Hanno avvelenato il pozzo!"
        - "Sei tu che sei andato, piccolo delinquente!"
        - "Proprio così, ce l'ho con te, Sid Philips! A noi non piace saltare in aria, Sid, e finire in poltiglia o in mille pezzi!"
        - "Esatto! Noi giocattoli!"
        - "Fregati!"
        - "Il fiammifero! Si! Grazie mille, Sid! Oh no! No no! No! Nooo! Nooo no! No, no, no, no! Noooo!"
        - "Aaaaaah! Questa è la volta che facciamo un bel botto!"
        - "Aaaaargh!... Ehi! Ehi Buzz! Stai volando!"
        - "Ah ah ah ah! Verso l'infinito... e... oltre!"
        - "Volete stare zitti, non avete ancora capito, idioti! Una volta entrati in casa di Sid, non ne usciremo più vivi!"
        - "Ho un serpente nello stivale!"
        - "Sei il mio vice-sceriffo preferito!"
        - "In questa città non c'è spazio per tutti e due!"
        - "Yee-haw! Dobbiamo far muovere questo vagone ferroviario!"
